.action-bar-action-bar {
  width: 100%;
  display: flex;
  padding: 120px;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.action-bar-action {
  width: 100%;
  display: flex;
  max-width: 1200px;
  align-items: flex-end;
  border-radius: 50px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5228F5;
}
.action-bar-heading {
  width: 546px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
}
.action-bar-link {
  display: contents;
}
.action-bar-get-started {
  margin-bottom: 0px;
  text-decoration: none;
}
.action-bar-image {
  width: auto;
  height: 260px;
  align-self: center;
  object-fit: cover;
}
.action-bar-images {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.action-bar-fragment1 {
  display: contents;
}
.action-bar-text4 {
  color: var(--dl-color-gray-white);
  display: inline-block;
}
.action-bar-fragment2 {
  display: contents;
}
.action-bar-text5 {
  color: #EEE9FE;
  display: inline-block;
  line-height: 24px;
  margin-bottom: var(--dl-space-space-threeunits);
}
.action-bar-fragment3 {
  display: contents;
}
.action-bar-text6 {
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .action-bar-action {
    flex-direction: column;
  }
  .action-bar-heading {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .action-bar-text1 {
    font-size: 36px;
    line-height: 36px;
  }
  .action-bar-text4 {
    font-size: 36px;
    line-height: 36px;
  }
}
@media(max-width: 767px) {
  .action-bar-action-bar {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .action-bar-action {
    align-items: center;
  }
  .action-bar-heading {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .action-bar-text1 {
    font-size: 28px;
    text-align: left;
  }
  .action-bar-text3 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
  .action-bar-images {
    justify-content: center;
  }
  .action-bar-text4 {
    font-size: 28px;
    text-align: left;
  }
  .action-bar-text6 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
  }
}
@media(max-width: 479px) {
  .action-bar-action-bar {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
